<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrailQuest Running</title>

    <script type="module" crossorigin src="/assets/main.eeb45929.js"></script>
    <link rel="stylesheet" href="/assets/main.9b87cd94.css">
</head>
<body>
<div class="relative bg-primary">
    <div class="max-w-full mx-auto px-4 sm:px-6">
        <div
                class="flex justify-between items-center py-6 md:justify-start md:space-x-10"
        >
            <div class="flex justify-start lg:w-0 lg:flex-1 text-white">
                <div class="text-center">
                    <a href="/">
                        <img
                                src="/images/logo.svg"
                                class="h-16 w-auto hover:opacity-50"
                                alt="TrailQuest"
                        />
                    </a>
                </div>
            </div>
            <div class="-mr-2 -my-2 md:hidden">
                <button
                        type="button"
                        class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                        aria-expanded="false"
                >
                    <span class="sr-only">Open menu</span>
                    <svg
                            class="h-6 w-6"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            aria-hidden="true"
                    >
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"
                        />
                    </svg>
                </button>
            </div>
            <nav class="hidden md:flex space-x-10">
                <a
                        href="/adventures-listing.html"
                        class="text-base font-medium text-gray-300 hover:text-secondary"
                >
                    Adventures
                </a>
                <a
                        href="#"
                        class="text-base font-medium text-gray-300 hover:text-secondary"
                >
                    Locations
                </a>
                <a
                        href="#"
                        class="text-base font-medium text-gray-300 hover:text-secondary"
                >
                    FAQs
                </a>
                <a
                        href="/content-page.html"
                        class="text-base font-medium text-gray-300 hover:text-secondary"
                >
                    About
                </a>
                <a
                        href="/contact.html"
                        class="text-base font-medium text-gray-300 hover:text-secondary"
                >
                    Contact
                </a>
            </nav>
        </div>
    </div>
    <div
            class="z-50 absolute top-0 inset-x-0 p-2 transition transform origin-top-right hidden"
    >
        <div
                class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-primary divide-y-2 divide-secondary"
        >
            <div class="pt-5 pb-6 px-5">
                <div class="flex items-center justify-between">
                    <a href="#">
                        <img
                                src="/images/logo.svg"
                                class="h-12 w-auto hover:opacity-50"
                                alt="TrailQuest"
                        />
                    </a>
                    <div class="-mr-2">
                        <button
                                type="button"
                                class="bg-secondary rounded-md p-2 inline-flex items-center justify-center text-white hover:text-primary hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                        >
                            <span class="sr-only">Close menu</span>
                            <svg
                                    class="h-6 w-6"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                    aria-hidden="true"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12"
                                />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="mt-6">
                    <nav class="grid gap-y-8">
                        <a
                                href="#"
                                class="-m-3 p-3 flex items-center rounded-md hover:bg-secondary"
                        >
                  <span class="ml-3 text-base font-medium text-white">
                    Adventures
                  </span>
                        </a>

                        <a
                                href="#"
                                class="-m-3 p-3 flex items-center rounded-md hover:bg-secondary"
                        >
                  <span class="ml-3 text-base font-medium text-white">
                    Locations
                  </span>
                        </a>

                        <a
                                href="#"
                                class="-m-3 p-3 flex items-center rounded-md hover:bg-secondary"
                        >
                  <span class="ml-3 text-base font-medium text-white">
                    FAQs
                  </span>
                        </a>

                        <a
                                href="#"
                                class="-m-3 p-3 flex items-center rounded-md hover:bg-secondary"
                        >
                  <span class="ml-3 text-base font-medium text-white">
                    About
                  </span>
                        </a>

                        <a
                                href="#"
                                class="-m-3 p-3 flex items-center rounded-md hover:bg-secondary"
                        >
                  <span class="ml-3 text-base font-medium text-white">
                    Contact
                  </span>
                        </a>
                    </nav>
                </div>
            </div>
            <div class="py-6 px-5 space-y-6">
                <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                    <a
                            href="#"
                            class="text-base font-medium text-white hover:text-secondary"
                    >
                        Big Bend National Park
                    </a>

                    <a
                            href="#"
                            class="text-base font-medium text-white hover:text-secondary"
                    >
                        Chamonix, France
                    </a>

                    <a
                            href="#"
                            class="text-base font-medium text-white hover:text-secondary"
                    >
                        Lake Tahoe
                    </a>

                    <a
                            href="#"
                            class="text-base font-medium text-white hover:text-secondary"
                    >
                        Lake Powell
                    </a>

                    <a
                            href="#"
                            class="text-base font-medium text-white hover:text-secondary"
                    >
                        Silverton, CO
                    </a>

                    <a
                            href="#"
                            class="text-base font-medium text-white hover:text-secondary"
                    >
                        Truckee, CA
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<main>
    <div>
        <div class="relative">
            <div class="max-w-full">
                <div class="relative sm:overflow-hidden">
                    <div class="absolute inset-0">
                        <img
                                class="h-full w-full object-cover"
                                src="/images/massimo-sartirana-W_mBu-aC2m8-unsplash.jpg"
                                alt=""
                        />
                        <div
                                class="absolute inset-0 bg-gray-300 mix-blend-multiply"
                        ></div>
                    </div>
                    <div
                            class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8"
                    >
                        <h1
                                class="text-center text-5xl font-extrabold tracking-tight md:5xl sm:text-7xl lg:text-7xl"
                        >
                            <span class="block text-white">Get out and</span>
                            <span class="block text-white">Explore the Trails</span>
                        </h1>
                        <p
                                class="mt-6 max-w-lg mx-auto text-center text-xl text-white sm:max-w-3xl"
                        >
                            Fun running vacations and adventures for runners of all
                            abilities. Wouldn't you rather run than sit at a pool and
                            drink?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div
                class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8"
        >
            <div class="pb-5">
                <h2 class="text-4xl leading-8 font-extrabold text-primary">
                    Trail Running Adventures
                </h2>
                <p class="mt-2 max-w-4xl text-md text-gray-900">
                    Choose your own trail adventure from locations across North
                    America. Lace up and breathe in the fresh air. Welcome outside
                    with TrailQuest.
                </p>
            </div>

            <div
                    class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8"
            >
                <a href="/adventure-entry.html" class="group">
                    <div
                            class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-8 xl:aspect-h-8"
                    >
                        <img
                                src="https://picsum.photos/1100/400"
                                alt=""
                                class="w-full h-full object-center object-cover group-hover:opacity-75"
                        />
                    </div>
                    <h3 class="mt-4 text-lg font-bold text-gray-900">
                        Grand Canyon R<sup>3</sup>
                    </h3>
                    <p class="mt-1 text-md font-medium text-gray-900">
                        A rim to rim to rim run of the Grand Canyon.
                    </p>
                </a>

                <a href="#" class="group">
                    <div
                            class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-8 xl:aspect-h-8"
                    >
                        <img
                                src="https://picsum.photos/1200/400"
                                alt=""
                                class="w-full h-full object-center object-cover group-hover:opacity-75"
                        />
                    </div>
                    <h3 class="mt-4 text-lg font-bold text-gray-900">
                        Big Bend Bounce
                    </h3>
                    <p class="mt-1 text-sm font-medium text-gray-900">
                        The stunning views of Big Bend National Park and Big Bend State
                        Park will put a bounce in your step.
                    </p>
                </a>

                <a href="#" class="group">
                    <div
                            class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-8 xl:aspect-h-8"
                    >
                        <img
                                src="https://picsum.photos/1300/400"
                                alt=""
                                class="w-full h-full object-center object-cover group-hover:opacity-75"
                        />
                    </div>
                    <h3 class="mt-4 text-lg font-bold text-gray-900">
                        R<sup>4</sup>
                    </h3>
                    <p class="mt-1 text-sm font-medium text-gray-900">
                        A rim to rim to rim run of the Grand Canyon.
                    </p>
                </a>

                <a href="#" class="group">
                    <div
                            class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-8 xl:aspect-h-8"
                    >
                        <img
                                src="https://picsum.photos/1400/400"
                                alt=""
                                class="w-full h-full object-center object-cover group-hover:opacity-75"
                        />
                    </div>
                    <h3 class="mt-4 text-lg text-gray-900">R<sup>4</sup></h3>
                    <p class="mt-1 text-sm font-medium text-gray-900">
                        A rim to rim to rim run of the Grand Canyon.
                    </p>
                </a>
                <a href="#" class="group">
                    <div
                            class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-8 xl:aspect-h-8"
                    >
                        <img
                                src="https://picsum.photos/1500/400"
                                alt=""
                                class="w-full h-full object-center object-cover group-hover:opacity-75"
                        />
                    </div>
                    <h3 class="mt-4 text-lg font-bold text-gray-900">
                        R<sup>4</sup>
                    </h3>
                    <p class="mt-1 text-sm font-medium text-gray-900">
                        A rim to rim to rim run of the Grand Canyon.
                    </p>
                </a>
                <a href="#" class="group">
                    <div
                            class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-8 xl:aspect-h-8"
                    >
                        <img
                                src="https://picsum.photos/1600/400"
                                alt=""
                                class="w-full h-full object-center object-cover group-hover:opacity-75"
                        />
                    </div>
                    <h3 class="mt-4 text-lg font-bold text-gray-900">
                        R<sup>4</sup>
                    </h3>
                    <p class="mt-1 text-sm font-medium text-gray-900">
                        A rim to rim to rim run of the Grand Canyon.
                    </p>
                </a>
                <a href="#" class="group">
                    <div
                            class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-8 xl:aspect-h-8"
                    >
                        <img
                                src="https://picsum.photos/1700/400"
                                alt=""
                                class="w-full h-full object-center object-cover group-hover:opacity-75"
                        />
                    </div>
                    <h3 class="mt-4 text-lg font-bold text-gray-900">
                        R<sup>4</sup>
                    </h3>
                    <p class="mt-1 text-sm font-medium text-gray-900">
                        A rim to rim to rim run of the Grand Canyon.
                    </p>
                </a>
                <a href="#" class="group">
                    <div
                            class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-8 xl:aspect-h-8"
                    >
                        <img
                                src="https://picsum.photos/1800/400"
                                alt=""
                                class="w-full h-full object-center object-cover group-hover:opacity-75"
                        />
                    </div>
                    <h3 class="mt-4 text-lg font-bold text-gray-900">
                        R<sup>4</sup>
                    </h3>
                    <p class="mt-1 text-sm font-medium text-gray-900">
                        A rim to rim to rim run of the Grand Canyon.
                    </p>
                </a>
            </div>
        </div>
    </div>
    <section class="overflow-hidden md:py-20 lg:py-20 bg-white">
        <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="relative">
                <blockquote class="">
                    <div
                            class="max-w-3xl mx-auto text-center text-4xl leading-9 font-bold text-secondary"
                    >
                        <p>
                            &ldquo;A travel adventure that challenges even the most
                            experienced trail runner. I love it!&rdquo;
                        </p>
                    </div>
                    <footer class="mt-8">
                        <div class="md:flex md:items-center md:justify-center">
                            <div
                                    class="mt-3 text-center md:mt-0 md:ml-4 md:flex md:items-center"
                            >
                                <div class="text-base font-medium text-gray-900">
                                    Justine Jakes &nbsp;
                                </div>
                                <div class="text-base font-medium text-gray-500">
                                    Austin, TX
                                </div>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div
                class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8"
        >
            <div class="pb-5">
                <h2 class="text-4xl leading-8 font-extrabold text-primary my-6">
                    Trail Running Locations
                </h2>
            </div>
            <div
                    class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols- xl:grid-cols-4 xl:gap-x-6"
            >
                <ul>
                    <li class="pb-2">
                        <a class="hover:text-secondary text-black underline" href="/content-page.html"
                        >Adventure Vacation in Big Bend</a
                        >
                    </li>
                    <li class="pb-2">
                        <a class="hover:text-secondary text-black" href=""
                        >Adventure Vacation in Big Bend</a
                        >
                    </li>
                    <li class="pb-2">
                        <a class="hover:text-secondary text-black" href=""
                        >Adventure Vacation in Big Bend</a
                        >
                    </li>
                    <li class="pb-2">
                        <a class="hover:text-secondary text-black" href=""
                        >Adventure Vacation in Big Bend</a
                        >
                    </li>
                </ul>
                <ul>
                    <li class="pb-2">
                        <a class="hover:text-secondary text-black" href=""
                        >Adventure Vacation in Big Bend</a
                        >
                    </li>
                    <li class="pb-2">
                        <a class="hover:text-secondary text-black" href=""
                        >Adventure Vacation in Big Bend</a
                        >
                    </li>
                    <li class="pb-2">
                        <a class="hover:text-secondary text-black" href=""
                        >Adventure Vacation in Big Bend</a
                        >
                    </li>
                    <li class="pb-2">
                        <a class="hover:text-secondary text-black" href=""
                        >Adventure Vacation in Big Bend</a
                        >
                    </li>
                </ul>
                <ul>
                    <li class="pb-2">
                        <a class="hover:text-secondary text-black" href=""
                        >Adventure Vacation in Big Bend</a
                        >
                    </li>
                    <li class="pb-2">
                        <a class="hover:text-secondary text-black" href=""
                        >Adventure Vacation in Big Bend</a
                        >
                    </li>
                    <li class="pb-2">
                        <a class="hover:text-secondary text-black" href=""
                        >Adventure Vacation in Big Bend</a
                        >
                    </li>
                    <li class="pb-2">
                        <a class="hover:text-secondary text-black" href=""
                        >Adventure Vacation in Big Bend</a
                        >
                    </li>
                </ul>
                <ul>
                    <li class="pb-2">
                        <a class="hover:text-secondary text-black" href=""
                        >Adventure Vacation in Big Bend</a
                        >
                    </li>
                    <li class="pb-2">
                        <a class="hover:text-secondary text-black" href=""
                        >Adventure Vacation in Big Bend</a
                        >
                    </li>
                    <li class="pb-2">
                        <a class="hover:text-secondary text-black" href=""
                        >Adventure Vacation in Big Bend</a
                        >
                    </li>
                    <li class="pb-2">
                        <a class="hover:text-secondary text-black" href=""
                        >Adventure Vacation in Big Bend</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="overflow-hidden md:py-20 lg:py-20 bg-white">
        <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="relative">
                <blockquote class="">
                    <div
                            class="max-w-3xl mx-auto text-center text-4xl leading-9 font-bold text-secondary"
                    >
                        <p>
                            &ldquo;The best way to spend my 5 days of annual vacation time
                            away from the cubicle!&rdquo;
                        </p>
                    </div>
                    <footer class="my-8">
                        <div class="md:flex md:items-center md:justify-center">
                            <div
                                    class="mt-3 text-center md:mt-0 md:ml-4 md:flex md:items-center"
                            >
                                <div class="text-base font-medium text-gray-900">
                                    Milton Waddams &nbsp;
                                </div>
                                <div class="text-base font-medium text-gray-500">
                                    Austin, TX
                                </div>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </div>
        </div>
    </section>
</main>
<footer class="bg-primary">
    <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
        <nav
                class="-mx-5 -my-2 flex flex-wrap justify-center"
                aria-label="Footer"
        >
            <div class="px-5 py-2">
                <a href="#" class="text-base text-gray-300 hover:text-secondary">
                    Trail Adventures
                </a>
            </div>

            <div class="px-5 py-2">
                <a href="#" class="text-base text-gray-300 hover:text-secondary">
                    Locations
                </a>
            </div>

            <div class="px-5 py-2">
                <a href="#" class="text-base text-gray-300 hover:text-secondary">
                    FAQs
                </a>
            </div>

            <div class="px-5 py-2">
                <a href="#" class="text-base text-gray-300 hover:text-secondary">
                    News
                </a>
            </div>
        </nav>
        <p class="mt-8 text-center text-base text-gray-400">
            &copy; 2022 TrailQuests
        </p>
    </div>
</footer>

</body>
</html>