<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" crossorigin src="/assets/main.eeb45929.js"></script>
    <link rel="stylesheet" href="/assets/main.9b87cd94.css">
</head>
<body>
<div class="relative bg-primary">
    {% include "_shared/_mainNav" %}
    <div
            class="z-50 absolute top-0 inset-x-0 p-2 transition transform origin-top-right hidden"
    >
        <div
                class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-primary divide-y-2 divide-secondary"
        >
            <div class="pt-5 pb-6 px-5">
                <div class="flex items-center justify-between">
                    <a href="#">
                        <img
                                src="/images/logo.svg"
                                class="h-12 w-auto hover:opacity-50"
                                alt="TrailQuest"
                        />
                    </a>
                    <div class="-mr-2">
                        <button
                                type="button"
                                class="bg-secondary rounded-md p-2 inline-flex items-center justify-center text-white hover:text-primary hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                        >
                            <span class="sr-only">Close menu</span>
                            <svg
                                    class="h-6 w-6"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                    aria-hidden="true"
                            >
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12"
                                />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="mt-6">
                    <nav class="grid gap-y-8">
                        <a
                                href="#"
                                class="-m-3 p-3 flex items-center rounded-md hover:bg-secondary"
                        >
                  <span class="ml-3 text-base font-medium text-white">
                    Adventures
                  </span>
                        </a>

                        <a
                                href="#"
                                class="-m-3 p-3 flex items-center rounded-md hover:bg-secondary"
                        >
                  <span class="ml-3 text-base font-medium text-white">
                    Locations
                  </span>
                        </a>

                        <a
                                href="#"
                                class="-m-3 p-3 flex items-center rounded-md hover:bg-secondary"
                        >
                  <span class="ml-3 text-base font-medium text-white">
                    FAQs
                  </span>
                        </a>

                        <a
                                href="#"
                                class="-m-3 p-3 flex items-center rounded-md hover:bg-secondary"
                        >
                  <span class="ml-3 text-base font-medium text-white">
                    About
                  </span>
                        </a>

                        <a
                                href="#"
                                class="-m-3 p-3 flex items-center rounded-md hover:bg-secondary"
                        >
                  <span class="ml-3 text-base font-medium text-white">
                    Contact
                  </span>
                        </a>
                    </nav>
                </div>
            </div>
            <div class="py-6 px-5 space-y-6">
                <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                    <a
                            href="#"
                            class="text-base font-medium text-white hover:text-secondary"
                    >
                        Big Bend National Park
                    </a>

                    <a
                            href="#"
                            class="text-base font-medium text-white hover:text-secondary"
                    >
                        Chamonix, France
                    </a>

                    <a
                            href="#"
                            class="text-base font-medium text-white hover:text-secondary"
                    >
                        Lake Tahoe
                    </a>

                    <a
                            href="#"
                            class="text-base font-medium text-white hover:text-secondary"
                    >
                        Lake Powell
                    </a>

                    <a
                            href="#"
                            class="text-base font-medium text-white hover:text-secondary"
                    >
                        Silverton, CO
                    </a>

                    <a
                            href="#"
                            class="text-base font-medium text-white hover:text-secondary"
                    >
                        Truckee, CA
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% block main %}
    {# this is the template-specific code and content #}
{% endblock %}
<footer class="bg-primary">
    <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
        <nav
                class="-mx-5 -my-2 flex flex-wrap justify-center"
                aria-label="Footer"
        >
            <div class="px-5 py-2">
                <a href="#" class="text-base text-gray-300 hover:text-secondary">
                    Trail Adventures
                </a>
            </div>

            <div class="px-5 py-2">
                <a href="#" class="text-base text-gray-300 hover:text-secondary">
                    Locations
                </a>
            </div>

            <div class="px-5 py-2">
                <a href="#" class="text-base text-gray-300 hover:text-secondary">
                    FAQs
                </a>
            </div>

            <div class="px-5 py-2">
                <a href="#" class="text-base text-gray-300 hover:text-secondary">
                    News
                </a>
            </div>
        </nav>
        <p class="mt-8 text-center text-base text-gray-400">
            &copy; 2022 TrailQuests
        </p>
    </div>
</footer>
</body>
</html>